.q{
	font-weight:bold;
}
.a{
	margin-top:5px;
	margin-bottom:10px;
	padding:15px;
	width:80%;
}


pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-wrap: break-word;
	white-space: pre-wrap;
    word-break: normal;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
	text-align:left;
}